*.pt filter=lfs diff=lfs merge=lfs -text
C:/Users/Doigt_cy/Desktop/hy-tmp/qa/web-train.json filter=lfs diff=lfs merge=lfs -text
/qa/wikipedia-train.json filter=lfs diff=lfs merge=lfs -text
qa/web-train.json filter=lfs diff=lfs merge=lfs -text
data_MiniCPM/triviaqa_web_train_withDescription.json filter=lfs diff=lfs merge=lfs -text
data_MiniCPM/triviaqa_web_train_withDescription.json filter=lfs diff=lfs merge=lfs -text
